/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;                           /* 外側余白 */
  padding: 0;                          /* 内側余白 */
  box-sizing: border-box;              /* 境界およびパディングを
                                          要素に指定した
                                          width および 
                                          height の中で
                                          取るよう
                                          ブラウザーに
                                          指示します */
  color: ff9A4B;                       /* 文字色黒指定 */
}

a {
  text-decoration: none;               /* アンダーライン無効 */
}
