/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;                           /* 外側余白 */
  padding: 0;                          /* 内側余白 */
  box-sizing: border-box;              /* 境界およびパディングを
                                          要素に指定した
                                          width および 
                                          height の中で
                                          取るよう
                                          ブラウザーに
                                          指示します */
  color: ff9A4B;                       /* 文字色黒指定 */
}

a {
  text-decoration: none;               /* アンダーライン無効 */
}

header {
 width:   100%;                         /* 横幅いっぱい */
 height:  50px;                         /* 高さ50px */
 background-color: #CC00FF;                 /* 背景色red */
}

footer {
  width:   100%;                         /* 横幅いっぱい */
  height:  50px;                         /* 高さ50px */
  background-color: #6666FF;             /* 背景色水色 */
}